<ion-view> <!--hide-nav-bar=true-->
  <ion-nav-title>
    {{forumTitle()}}'s Forums
  </ion-nav-title>
  <ion-content>
    <!-- Navigation -->
    <div class="button-bar" ng-init="tog=1">
      <a class="button" ng-class="{'active-button':tog==1}" ng-model="active" ng-click="tog=1; switchView(true)">Active</a>
      <a class="button" ng-class="{'active-button':tog==2}" ng-model="complete" ng-click="tog=2; switchView(false)">Complete</a>
    </div>
    <!-- format to add status: delete on click -->
    <!-- Active Forums List -->
    <div ng-show="active" ng-hide="complete">
      <div      class="forum-card-container"
                ng-repeat="forum in forums | filter:-forum.endsAt"
                ng-if="!completed(forum.endsAt) && forum.status!=='delete' && forum.creatorID === userID()"
                ng-init="start = convertTime(forum.startsAt); end = convertTime(forum.endsAt)">

        <div class="card forum-card">

          <div class="item item-divider item-royal">
            <div>
              <span style="font-size: 133%; float:left;" ui-sref="app.forum({forumKey: '{{forum.$id}}'})">&nbsp;{{forum.title}}</span>
              <i class="icon ion-trash-a" style="float:right;margin-right:20px;font-size:133%;" ng-click="remove(forum)"></i>
              <i class="icon ion-edit" style="float:right;margin-right:10px;font-size:133%;" ng-click="edit(forum)"></i>
              <i class="icon ion-share" style="float:right;margin-right:10px;font-size:133%;" ng-click="sendEmail(forum)"></i>
            </div>
          </div>

          <div class="item item-icon-left" ui-sref="app.forum({forumKey: '{{forum.$id}}'})">
           <i class="icon ion-earth"></i>
           Forum Code
           <span class="item-note item-display-info" >
             {{forum.$id}}
           </span>
          </div>

          <div class="item item-icon-left" ui-sref="app.forum({forumKey: '{{forum.$id}}'})" ng-if="forum.password">
           <i class="icon ion-key"></i>
            Password
           <span class="item-note item-display-info" >
            {{forum.password}}
           </span>
          </div>

          <div class="item item-icon-left">
            <!-- <i class="icon ion-clock"></i> {{start}} - {{end}} -->
            <i class="icon ion-ios-calendar-outline"></i>
             Start Time
            <span class="item-note item-display-info" >
             {{start}}
            </span>
          </div>

          <div class="item item-icon-left">
            <!-- <i class="icon ion-clock"></i> {{start}} - {{end}} -->
            <i class="icon ion-ios-calendar"></i>
             End Time
            <span class="item-note item-display-info" >
             {{end}}
            </span>
          </div>

          <div class="item item-text-wrap" ng-if="forum.description">
            <div class="padding-left padding-right">
              <b>Description:</b> <span style="font-style: italic;">{{forum.description}}</i>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Complete Forums List -->
    <ion-list class="list" ng-show="complete" ng-hide="active">
      <ion-item ui-sref="app.forum({forumKey: '{{forum.$id}}'})" ng-repeat="forum in forums | filter:-forum.endsAt" class="card" ng-if="completed(forum.endsAt) && forum.status!=='delete' && forum.creatorID === user" ng-init="ended = timeAgo(forum.endsAt, forum)">
        <div class="item item-divider">
          {{forum.title}}
          <i class="icon ion-close" ng-click="remove(forum)" style="float:right;"></i>
        </div>
        <div class="item item-text-wrap">
          {{forum.description}}
        </div>
        <div class="item item-divider">
          {{ended}}
        </div>
      </ion-item>
    </ion-list>
  </ion-content>

  <!-- Footer create new forum navigation -->
  <ion-footer-bar ui-sref="app.new-forum" class="bar-positive">
    <h1 class="title">CREATE NEW FORUM</h1>
  </ion-footer-bar>
</ion-view>
