<div class="card forum-card">

  <div class="item item-royal" style="border:0px;border-radius:0px;">
      <span style="font-size:135%;" ui-sref="app.forum({bobolinkId: '{{forum.$id}}'})">{{forum.title}}</span>
      <!-- <div style="float:right; padding-right: -5px; display:inline;"> -->
      <span style="float:right;">
        <i class="icon ion-share" style="margin:0 0 0 5px;font-size:150%;" ng-click="email(forum)"></i>
        <i class="icon ion-edit" style="margin:0 5px 0 5px; font-size:150%;" ui-sref="app.edit-forum({forumKey: '{{forum.$id}}'})"></i>
        <i class="icon ion-trash-a" style="font-size:150%;" ng-click="remove(forum)"></i>
      </span>
  </div>

  <div class="item item-icon-left" ui-sref="app.forum({bobolinkId: '{{forum.$id}}'})">
   <i class="icon ion-earth"></i>
   Forum Code
   <span class="item-note item-display-info" >
     {{forum.$id}}
   </span>
  </div>

  <div class="item item-icon-left" ui-sref="app.forum({bobolinkId: '{{forum.$id}}'})" ng-if="forum.password">
   <i class="icon ion-key"></i>
    Password
   <span class="item-note item-display-info" >
    {{forum.password}}
   </span>
  </div>

  <div class="item item-icon-left">
    <!-- <i class="icon ion-clock"></i> {{start}} - {{end}} -->
    <i class="icon ion-ios-calendar-outline"></i>
     Start Time
    <span class="item-note item-display-info" >
     {{start}}
    </span>
  </div>

  <div class="item item-icon-left">
    <!-- <i class="icon ion-clock"></i> {{start}} - {{end}} -->
    <i class="icon ion-ios-calendar"></i>
     End Time
    <span class="item-note item-display-info" >
     {{end}}
    </span>
  </div>

  <div class="item item-text-wrap" ng-if="forum.description">
    <div class="padding-left padding-right">
      <b>Description:</b> <span style="font-style: italic;">{{forum.description}}</i>
    </div>
  </div>

</div>
