<ion-view cache-view="false"> <!--hide-nav-bar=true-->
  <ion-nav-title>
    {{forumTitle()}}'s Forums
  </ion-nav-title>
  <ion-content>
    <!-- Navigation -->
    <div class="button-bar" ng-init="tog=1">
      <a class="button" ng-class="{'button-royal':tog==1}" ng-model="active" ng-click="tog=1; switchView(true)">Active</a>
      <a class="button" ng-class="{'button-royal':tog==2}" ng-model="complete" ng-click="tog=2; switchView(false)">Completed</a>
    </div>
    <!-- format to add status: delete on click -->
    <!-- Active Forums List -->
    <div ng-show="active" ng-hide="complete">
    <!-- <div ng-if="!complete"> -->
      <div      class="forum-card-container"
                ng-repeat="forum in forums | filter:-forum.endsAt"
                ng-if="!completed(forum.endsAt) && forum.status!=='delete' && forum.creatorID === userID()"
                ng-init="start = convertTime(forum.startsAt); end = convertTime(forum.endsAt)">
        <forum-view forum=forum start=start end=end remove=remove edit=edit email=email></forum-view>
      </div>
    </div>

    <!-- Complete Forums List -->
    <div ng-show="complete" ng-hide="active">
      <div      class="forum-card-container faded"
                ng-repeat="forum in forums | filter:-forum.endsAt"
                ng-if="completed(forum.endsAt) && forum.status!=='delete' && forum.creatorID === userID()"
                ng-init="start = convertTime(forum.startsAt); end = convertTime(forum.endsAt)">
        <forum-view forum=forum start=start end=end remove=remove edit=edit email=email></forum-view>
      </div>
    </div>
  </ion-content>
  <!-- Footer create new forum navigation -->
  <ion-footer-bar ui-sref="app.new-forum" class="bar-positive">
    <h1 class="title">CREATE NEW FORUM</h1>
  </ion-footer-bar>
</ion-view>
