<ion-view view-title="{{title}}"> <!--hide-nav-bar=true-->
  <ion-content>
    <h1>Forum</h1>
    {{forum}}
    <h1>Forums</h1>
    {{forums}}
    <!-- <h1>$scope.title: {{firebaseRefDataIllustration}}</h1>
    <hr />

    <p>{{john.FirstName}}</p>
    <p>{{john.LastName}}</p>
    <p>{{john.Email}}</p>
    <p>{{john.Phone}}</p>

    <hr />

    <div ng-repeat="user in users">
      <p>First Name: {{user.FirstName}}</p>
      <p>Last Name: {{user.LastName}}</p>
      <p>Email: {{user.Email}}</p>
    </div>

    <hr /> -->

  </ion-content>
</ion-view>
