<ion-view view-title="{{title}}"> <!--hide-nav-bar=true-->
  <ion-content>
    <h1>$rootScope user</h1>
    {{user}}
    <h1>$rootScope profile</h1>
    {{profile}}
    <h1>Get a Forum</h1>
    <!-- {{forum.title}} -->
    <span>Title: <b>{{forum.title}}</b></span> <br />
    <span>Description: <b>{{forum.description}}</b></span> <br />
    <span>Creator: <b>{{forum.creatorID}}</b></span>
    <h1>Add a Question</h1>
      <form>
        <div class="list">
          <label class="item item-input">
            <span class="input-label">ForumID</span>
            <input type="text" ng-model="newQuestion.forumID">
          </label>
          <label class="item item-input">
            <span class="input-label">Text</span>
            <input type="text" ng-model="newQuestion.text">
          </label>
          <button type="button" class="button button-positive button-full" ng-click="addQuestion(newQuestion.forumID, newQuestion)">Submit</button>
        </div>
      </form>
    <hr />
    <h1>Create a Forum</h1>
      <form>
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Title</span>
            <input type="text" ng-model="newForum.title">
          </label>
          <label class="item item-input">
            <textarea placeholder="Description" ng-model="newForum.description"></textarea>
          </label>
          <li class="item item-toggle">
             Private
             <label class="toggle toggle-assertive">
               <input type="checkbox" ng-model="newForum.private">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
          <button type="button" class="button button-positive button-full" ng-click="addForum(newForum)">Submit</button>
        </div>
      </form>
    <hr />
    <h1>Forums</h1>
    {{forums}}
    <div ng-repeat="forum in forums">
      <p>{{forum.title}}</p>
      <p>{{forum.description}}</p>
    </div>
    <!-- <h1>$scope.title: {{firebaseRefDataIllustration}}</h1>
    <hr />

    <p>{{john.FirstName}}</p>
    <p>{{john.LastName}}</p>
    <p>{{john.Email}}</p>
    <p>{{john.Phone}}</p>

    <hr />

    <div ng-repeat="user in users">
      <p>First Name: {{user.FirstName}}</p>
      <p>Last Name: {{user.LastName}}</p>
      <p>Email: {{user.Email}}</p>
    </div>

    <hr /> -->
  </ion-content>
</ion-view>
