<ion-view view-title="{{title}}" hide-nav-bar=true>
  <ion-content>
    <h1>$scope.title: {{firebaseRefDataIllustration}}</h1>
    <hr />

    <!-- How to display a firebase object -->
    <p>{{john.FirstName}}</p>
    <p>{{john.LastName}}</p>
    <p>{{john.Email}}</p>
    <p>{{john.Phone}}</p>

    <hr />

    <!-- How to iterate over a firebase collection with angular -->
    <div ng-repeat="user in users">
      <p>First Name: {{user.FirstName}}</p>
      <p>Last Name: {{user.LastName}}</p>
      <p>Email: {{user.Email}}</p>
    </div>

    <hr />


  </ion-content>


</ion-view>
