<ion-view cache-view=false hide-back-button=true hide-nav-bar="!user" view-title="Bobolink">
  <ion-header-bar class="bar-dark" title="Bobolinks">
    <h1 class="title">Bobolinks</h1>
  </ion-header-bar>
  <ion-content class="login-background">
      <form id="enter-forum-form" ng-submit="joinForum(url.text)">
        <div class="list">
          <label class=" translucent item item-input">
            <input id="forum-key-input" type="text" ng-click="clearContents(this)"placeholder="Enter forum key" ng-model="url.text" ></textarea>
          </label>
          <button type="submit" class="button button-positive button-full">Join Forum</button>
        </div>
      </form>
  </ion-content>
  <ion-footer-bar ng-click="login()" ng-show="!user" class="bar-positive">
    <h1 class="title">GitHub Login</h1>
  </ion-footer-bar>
</ion-view>
