<ion-view cache-view=false hide-back-button=true hide-nav-bar=true view-title="Home">
  <ion-content>
    <h1 align="center">Join Forum</h1>

      <form>
        <div class="list">
          <label class="item item-input">
            <textarea ng-click="clearContents(this)"placeholder="Enter your URL shortcode here" ng-model="url.text" ></textarea>
          </label>
          <button type="button" class="button button-positive button-full" ui-sref= "app.forum({forumKey: url.text})">Submit URL</button>
        </div>
      </form>

    <button ng-show="!loggedIn" type="button" class="button button-positive button-full" ui-sref="app.login">Moderator Login</h1>
  </ion-content>
</ion-view>
