<ion-view cache-view=false hide-back-button=false hide-nav-bar=false view-title="Login">
  <ion-content class="padding login-background">

    <div class="list card padding translucent">
      <label class="item item-input item-divider item-positive">
        Bobolinks Login
      </label>
      <label class="item item-input" style="margin-top: 5px;">
        <span class="input-label">Email</span>
        <input type="text" ng-model="user.email" autocapitalize="off">
      </label>
      <label class="item item-input translucent">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.pwdForLogin">
      </label>
      <button ng-click="signIn(user)" class="button button-block button-positive activated">
        Sign In
      </button>
    </div>
    <div class="list" style="text-align:center">
      <button ng-click="modal.show()" class="button button-small icon-left ion-person-add button-positive">
        Create New Account
      </button>
    </div>
  </ion-content>
</ion-view>
