<ion-view view-title ="{{title}}"> <!--hide-nav-bar=true-->
  <ion-content ng-controller="NewQuestionCtrl">

    <form>
      <p class="forum-question-form-label">What would you like to ask {{user.github.displayName}}?</p>
      <label class="item item-input">
        <textarea ng-model="newQuestion.text" class="forum-question-textarea" placeholder="Enter your question here"></textarea>
      </label>

      <button ng-click="submitQuestion()" type="button" class="button button-positive button-full">Submit Question</button>
    </form>

  </ion-content>
</ion-view>
