<ion-view view-title ="{{title}}"> <!--hide-nav-bar=true-->
  <ion-content ng-controller="NewDrawingCtrl">
    <canvas id="simple_sketch" width="800" height="300"></canvas>
    <button ng-click="saveDrawing($event)" type="button" class="button button-positive button-full">Save Drawing</button>
    <script type="text/javascript">
      $(function() {
        $('#simple_sketch').sketch();
        var imageToDataUrl = function() {
          var canvas = document.getElementById("simple_sketch");
          console.log(canvas);
          var myImage = canvas.toDataURL();
          console.log(myImage);
          return myImage;
        };
        $('.save-image-button').on('click', function(e) {
          $scope.imageToDataUrl = imageToDataUrl();
        });
      });
    </script>
    <form>
      <p class="forum-poll-form-label">Poll Question</p>
      <label class="item item-input">
        <textarea ng-model="newPoll.text" class="forum-poll-textarea" placeholder="Enter your poll here"></textarea>
      </label>

      <button ng-click="submitPoll()" type="button" class="button button-positive button-full">Submit Poll</button>
    </form>

  </ion-content>
</ion-view>
