<ion-view view-title ="{{title}}"> <!--hide-nav-bar=true-->
  <ion-content ng-controller="NewPollCtrl">

    <form>
      <p class="forum-poll-form-label">Poll Question</p>
      <label class="item item-input">
        <input ng-model="newPoll.text" class="forum-poll-textarea" placeholder="Enter your poll here">
        </input>
        <input ng-model="newPoll.option1" class="forum-poll-textarea" placeholder="Option 1">
        </input>
        <input ng-model="newPoll.option2" class="forum-poll-textarea" placeholder="Option 2">
        </input>
        <input ng-model="newPoll.option3" class="forum-poll-textarea" placeholder="Option 3">
        </input>
        <input ng-model="newPoll.option4" class="forum-poll-textarea" placeholder="Option 4">
        </input>

      </label>

      <button ng-click="submitPoll()" type="button" class="button button-positive button-full">Submit Poll</button>
    </form>
    <button ng-click="endPoll()">End current poll</button>

  </ion-content>
</ion-view>
