<ion-view view-title ="{{title}}"> <!--hide-nav-bar=true-->
  <ion-content ng-controller="NewPollCtrl">
  <!-- If there is not an active poll, show the new poll form -->
  <div ng-show="!pollAvailable">
    <form>
      <p class="forum-poll-form-label">Poll Question</p>
      <label class="item item-input">
        <input ng-model="newPoll.text" class="forum-poll-textarea" placeholder="Enter your poll here">
        </input>
        <input ng-model="newPoll.option1" class="forum-poll-textarea" placeholder="Option 1">
        </input>
        <input ng-model="newPoll.option2" class="forum-poll-textarea" placeholder="Option 2">
        </input>
        <input ng-model="newPoll.option3" class="forum-poll-textarea" placeholder="Option 3">
        </input>
        <input ng-model="newPoll.option4" class="forum-poll-textarea" placeholder="Option 4">
        </input>

      </label>

      <button ng-click="submitPoll()" type="button" class="button button-positive button-full">Submit Poll</button>
    </form>
  </div>
  <!-- If there is an active poll, show the current poll -->
  <!-- <div ng-show="pollAvailable()"> -->
  <div ng-show="pollAvailable">
    <h1>Poll in progress:</h1>
    <h2>{{currentPoll[0].text}}</h2>
    <h4 ng-show="!currentPoll[0].responses">No one has responded yet.</h4>
    <ul>
      <li ng-repeat="response in currentPoll[0].responses">
        {{response.username}}: {{getPollText(response.value)}}
      </li>
    </ul>
    <button ng-click="endPoll()">End current poll</button>
  </div>

  </ion-content>
</ion-view>
