<ion-view view-title ="{{title}}"> <!--hide-nav-bar=true-->
  <ion-content ng-controller="AddQuestionCtrl">
   <form id="forum-question-form">
     <p class="field-description">Name</p>
     <input id="forum-question-input" ng-model="name" type="text" name="name" placeholder="Default is anonymous" />
     <p class="field-description">Question</p>
     <input id="question-field" ng-model="text" type="textfield" name="name" placeholder="Enter your question here" />
     <input id="forum-question-submit" type="submit" value="Submit" ng-click="submitQuestion()"/>
   </form>

  </ion-content>
<!--   <ion-footer-bar id="footer" >
    <div class="title">Ask Question</div>
    <input id="question-input" type="text" />
  </ion-footer-bar> -->
</ion-view>
