<ion-view view-title ="{{title}}"> <!--hide-nav-bar=true-->
  <ion-content ng-controller="AddQuestionCtrl">

   <form>
      <p class="forum-question-form-label">Name</p>
      <label class="item item-input">
        <input class="forum-question-input" placeholder="Name (default is Anonymous)"></textarea>
      </label>

      <p class="forum-question-form-label">Question (required)</p>
      <label class="item item-input">
        <textarea class="forum-question-textarea"placeholder="Enter your question here"></textarea>
      </label>

      <button type="button" class="button button-positive button-full" >Submit Question</button>
    </form>

  </ion-content>
</ion-view>
