<ion-view view-title ="{{title}}"> <!--hide-nav-bar=true-->
  <ion-content ng-controller="ForumsCtrl">
    <div class="question active-background">
      <div class="right-content">
      <div class="up arrow-container active-arrow"></div>
      <div class="rank-container active-rank">5</div>
      <div class="down arrow-container active-arrow"></div>
      </div>  
      <div class="left-content">
        <div class="question-text-container">
          <p>Can you please explain why we need to use an asynchronous callback in the function?</p>
        </div>
        <p class="question-name">Ben Steinberg</p>
      </div>
    </div>
    <div class="subheader">Pending</div>
    <div id="pending-questions">
    <div class="question" ng-repeat="question in dummyData | orderBy: '-rank'">
       <ng-question question="question"></ng-question>
    </div> 
    <div class="subheader">Answered</div>
    <form ng-submit="createTask(task)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="What do you need to do?" ng-model="task.title">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Create Task</button>
        </div>
      </form>

  </ion-content>
<!--   <ion-footer-bar id="footer" >
    <div class="title">Ask Question</div>
    <input id="question-input" type="text" />
  </ion-footer-bar> -->
</ion-view>
