<ion-view view-title ="{{test.title}}"> <!--hide-nav-bar=true-->
  <ion-content ng-controller="ForumCtrl">
    <div id="active-qustion" ng-show="!!questionActive" ng-click="nextQuestion()">
      <div class="subheader">Active</div>
      <div class="question active-background">
        <div class="right-content">
          <div class="up arrow-container active-arrow"></div>
          <div class="rank-container active-rank">{{activeQuestion.rank}}</div>
          <div class="down arrow-container active-arrow"></div>
        </div>  
        <div class="left-content">
          <div class="question-text-container">
            <p>{{activeQuestion.text}}</p>
          </div>
          <p class="question-name">{{activeQuestion.name}}</p>
        </div>
      </div>
    </div>

    <div id="pending-questions" ng-show="!!questionsPending[0]">
      <div class="subheader" ng-click="getNextActiveQuestion()">Pending ({{questionsPending.length}})</div>
      <div class="question" ng-repeat="question in questionsPending | orderBy: '-rank'">
        <ng-pending-question question="question"></ng-question>
      </div>
    </div> 

    <div id="answered-questions" ng-show="!!questionsAnswered[0]">
      <div class="subheader">Answered ({{answeredQuestions.length}})</div>
      <div class="question answered-question" ng-repeat="question in forum.questions.answered | orderBy: '-rank'">
        <ng-answered-question question="question"></ng-question>
      </div>
    </div> 

    <p>{{questionsPending}}</p>
    






   <!--  <form ng-submit="createTask(task)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="What do you need to do?" ng-model="task.title">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Create Task</button>
        </div>
    </form> -->

  </ion-content>
<!--   <ion-footer-bar id="footer" >
    <div class="title">Ask Question</div>
    <input id="question-input" type="text" />
  </ion-footer-bar> -->
</ion-view>
