<ion-view ng-controller="ForumCtrl" view-title ="{{title}}">
  <ion-content>

    <!-- Main forum content (shown if forumAccess is true) -->
    <div id="main-forum-view" ng-show="forumAccess">
      <div id="active-question" ng-show="isModerator || !!questionActive[0]" ng-click="nextQuestion()">
        <div class="question active-background">
          <p class="active-question-container-text" ng-show="!questionActive[0]">{{updateActiveQuestionContainerText()}}</p>
          <div class="right-content" ng-show="!!questionActive[0]">
            <div class="up arrow-container active-arrow"></div>
            <div class="rank-container active-rank active-background">{{questionActive[0].rank}}</div>
            <div class="down arrow-container active-arrow"></div>
          </div>
          <div class="left-content" ng-show="!!questionActive[0]">
            <div class="question-text-container">
              <p>{{questionActive[0].text}}</p>
            </div>
            <p class="question-name">{{questionActive[0].name}}</p>
          </div>
        </div>
      </div>

      <div id="pending-questions" ng-show="!!questionsPending[0]">
        <div class="subheader pending-subheader" ng-click="togglePendingQuestions()">
        Pending ({{questionsPending.length}})
        <img class="pending-arrow rotated" src="https://bobolinks.firebaseapp.com/img/arrow.png">
        </div>
        <div class="pending-questions-container">
          <div class="question"  ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="question in questionsPending | orderBy: '-rank'">
            <ng-pending-question question="question"></ng-question>
          </div>
          </ng-pending-question>
        </div>
      </div>

      <div id="answered-questions" ng-show="!!questionsAnswered[0]">
        <div class="subheader answered-subheader" ng-click="toggleAnsweredQuestions()">
        Answered ({{questionsAnswered.length}})
        <img class="answered-arrow rotated" src="https://bobolinks.firebaseapp.com/img/arrow.png">
        </div>
        <div class="answered-questions-container">
          <div class="question answered-question" ng-repeat="question in questionsAnswered">
            <ng-answered-question question="question"></ng-question>
          </div>
        </div>
      </div>
    </div>

    <div id="poll-list">
      
      <div class="poll-list-container">
        <div class="poll" ng-repeat="poll in polls">
          <ng-poll poll="poll"></ng-poll>
        </div>
      </div>
    </div>

    <!-- Enter forum password forum (shown if forumAccess is false) -->
    <div id="forum-password-view" ng-show="!forumAccess">
      <form>
        <p class="forum-question-form-label">Forum Password Required</p>
        <label class="item item-input">
          <input ng-model="formData.password" class="forum-question-input" placeholder="Enter forum password"></textarea>
        </label>

        <button ng-click="submitPassword()" type="button" class="button button-positive button-full">Enter Password</button>
      </form>
    </div>
  </ion-content>

  <!-- Add poll link (shown if forumAccess is true and user is moderator) -->
  <ion-footer-bar ui-sref="app.newPoll({forumKey: '{{forumKey}}' })" ng-show="forumAccess && isModerator" class="bar-positive">
    <h1 class="title">Add Poll</h1>
  </ion-footer-bar>

  <!-- Add question link (shown if forumAccess is true and user is not moderator) -->
  <ion-footer-bar ui-sref="app.newQuestion({forumKey: '{{forumKey}}' })" ng-show="forumAccess && !isModerator" class="bar-positive">
    <h1 class="title">Add Question</h1>
  </ion-footer-bar>
</ion-view>
