<ion-view view-title ="{{title}}"> <!--hide-nav-bar=true-->
  <ion-content>
    <div class="question active-background">
      <div class="right-content">
      <div class="up arrow-container active-arrow"></div>
      <div class="rank-container active-rank">5</div>
      <div class="down arrow-container active-arrow"></div>
      </div>  
      <div class="left-content">
        <div class="question-text-container">
          <p>Can you please explain why we need to use an asynchronous callback in the function?</p>
        </div>
        <p>Ben Steinberg</p>
      </div>
    </div>
    <div class="subheader">Pending Questions</div>
    <div id="pending-questions">
      <div class="question">
        <div class="right-content">
        <div class="up arrow-container"></div>
        <div class="rank-container">5</div>
        <div class="down arrow-container"></div>
        </div>  
        <div class="left-content">
          <div class="question-text-container">
            <p>Can you please explain why we need to use an asynchronous callback in the function?</p>
          </div>
          <p>Ben Steinberg</p>
        </div>
      </div>
      <div class="question">
        <div class="right-content">
        <div class="up arrow-container"></div>
        <div class="rank-container">5</div>
        <div class="down arrow-container"></div>
        </div>  
        <div class="left-content">
          <div class="question-text-container">
            <p>Can you please explain why we need to use an asynchronous callback in the function?</p>
          </div>
          <p>Ben Steinberg</p>
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>