<ion-view view-title ="{{title}}">
  <ion-content>
    <div class="list">
      <div class="item-text-wrap">
        <label class="item item-input item-floating-label">
          <span class="input-label">Forum Title</span>
          <input type="text" placeholder="Forum Title">
        </label>
      </div>
      <div class="item-text-wrap">
        <label class="item item-input item-floating-label">
          <span class="input-label">Description</span>
          <input type="text" placeholder="Description">
        </label>
      </div>
      <div class="item-text-wrap">
        <label class="item item-input item-floating-label">
          <span class="input-label">Date</span>
          <input type="text" placeholder="Date">
        </label>
      </div>
    </div>
  </ion-content>
</ion-view>